<section class='container mobile-screen'>
  <div class='login-container chalk-auth'>
    <h1>Login</h1>
    <form id='formLogin' class='tabuada largura registrar'>
      <div class='flags-row'>
        <span class='chalk-doodle'>2+2=4</span>
        <span class='chalk-doodle'>7x3</span>
        <span class='chalk-doodle'>9-5</span>
        <span class='chalk-doodle'>6/2</span>
        <span class='chalk-doodle'>x+y</span>
      </div>
      <p>E-mail</p>
      <input
        type='email'
        name='email'
        id='emailLogin'
        placeholder='Digite seu e-mail'
        value=''
      />
      <p>Senha</p>
      <div><input
          type='password'
          name='password'
          id='passwordLogin'
          placeholder='Digite sua senha'
          value=''
        /><i class='fa-regular fa-eye'></i></div>
      <a href='/forgot-password' class='senha' id='esqueceu'>Esqueceu a senha?</a>
      <button type='button' id='confirmLogin'>Entrar</button>
      <small class='alerta'>Não tem conta?</small>
      <a href='/register' class='registrar' id='registrar'>Registre-se</a>
    </form>
  </div>
</section>
